<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

        <!-- font awesome -->
    <script src="https://kit.fontawesome.com/fdfd7a3dd8.js" crossorigin="anonymous"></script>
    <title>Vacation Map App</title>
</head>

<body>

    <header>
        <h1 class="display-1">Vacation Map App</h1>
    </header>

    <main class="container">
        <h2 class="display-2 mb-5">Budapest Trip <i class="fa-solid fa-house"></i></h2>
        <section class="mb-5">
            <h2 class="display-2">Ziele hinzufügen</h2>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mein Reiseziel:</label>
                    <input type="text" class="form-control" id="destiny" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Welches Ziel möchtest du hinzufügen?</div>
                </div>
                <div class="mb-3"></div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Zu welcher Kategorie gehört dein Ziel?</option>
                    <option value="1">Kulinarik</option>
                    <option value="2">Wellness</option>
                    <option value="3">Sehenswürdigkeit</option>
                    <option value="4">Kultur</option>
                    <option value="5">Natur</option>
                    <option value="6">Aussicht</option>
                    <option value="7">Unterkunft</option>
                </select>
                </div>
            </form>
        </section>

        <section>
          
            <div class="container mb-5" id="map"></div>
        </section>

    </main>

    <footer>
        <p>balalalalala</p>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

    <!-- Leaflet JS -->

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="/js/leaflet.js"></script>
</body>

</html>