<section class="vh-100 box">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block ">
                            <img src="" alt="login form" class="img-fluid "
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form>

                                    <div class="d-flex align-items-center mb-3 pb-1">

                                        <span class="h1 fw-bold mb-0">Mein Bullet Journal</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Einloggen</h5>

                   

                                 
                                    

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="email">E-Mail-Adresse</label>
                                        <input type="email" id="email" name="email" class="form-control form-control-lg" required/>
                                        <!-- div for email error -->
                                    <div class="email error text-danger"></div>
                                    </div>
                                   

                                

                                    

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password">Passwort</label>
                                        <input type="password" id="password" name="password"
                                            class="form-control form-control-lg" required />
                                           <!-- Div vor password error -->
                                    <div class="password error text-danger"></div>
                                    </div>
                                  

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                    </div>

                                    <a class="small text-muted" href="#!">Passwort vergessen?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Du hast keinen Account? <a href="#!"
                                            style="color: #393f81;">Regestriere dich hier</a></p>
                                    <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a> -->
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


