* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/*Leaflet*/

#map {
    width: 75%;
    height: 75vh;
}


.hotelIcon {
    text-align: center;
    /* Horizontally center the text (icon) */
    /* line-height: 50px; */
    /* Vertically center the text (icon) */
  }

/* Font */

p,
h1,
h2,
h3,
h4,
.display-3,
.display-4 {
    color: whitesmoke;
}

.modal p,
h1,
h2 {
    color: #1B1B1B;
}

a {
    text-decoration: none;
    color: #4B946A;
}

.card,
.lead,
.card-text {
    color: #1B1B1B;
}


body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: white;
    /* background-image: linear-gradient(to bottom, #535353 0%, #a0a0a0 51%); */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    padding-top: 60px;
    width: 100%;
}



h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h2 {
    text-align: center; 
}

.event {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}


.iconoverview {
    font-family: 'Noto Sans Symbols 2', sans-serif;

}


.iconoverview div {
    font-family: 'Noto Sans Symbols 2', sans-serif;

}

.iconoverview i {
    font-size: 10rem;
    color: #75b9b5;
}

.btn-primary {
    color: #75b9b5
}

.mainpageelement {
    text-align: center;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #30cfd0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));


}

.gradient-custom-near-moon {
    /* fallback for old browsers */
    background: #5ee7df;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5))
}

.btn-calm {
    background: #75b9b5;
    ;
}

.btn-calm-two {
    background: rgb(144, 119, 169);
}


.blurry-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 800px;
    height: 800px;
    border-radius: 50% 22% 40% 80%;
    filter: blur(100px);
    background: radial-gradient(circle at 50% 50%, rgba(76, 0, 255, 1), rgba(76, 0, 255, 0));
    opacity: 0.2;
}


.box {
    /* margin:50px;
    width:100px;
    height:50px;
    border-radius:20px; */
    /* color:#fff;
    text-align:center;
    line-height:50px; */
    box-shadow:
    20px 5px 40px #CF77F3,
      0px 5px 40px #009BFF,
     -20px 5px 40px #2AC9DB;
     /* background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%); */
   }



@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}


@media only screen and (max-width: 600px) {}